

<app-header></app-header>

<div class="container">
  <h3 class="text-center mt-5 mb-5">Lista de Productos</h3>
</div>

<div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let product of products; let i = index">
      <div class="card h-100">
        <img src="https://via.placeholder.com/200x150.png?text=+" class="card-img-top" alt="item">

        <div class="card-body">
          <h5 class="card-title">{{ product.nombre }}</h5>

          <p class="card-text">
            <label>Marca: {{ product.marca }}</label><br>
            <label class="mt-2">Precio: ${{ product.precio | moneyFormat }}</label><br>
            <label class="mt-2">Stock: {{ product.stock }}</label>
          </p>

        </div>

        <div class="card-footer">
          <div class="row">


              <div class="col text-center">
                <button class="btn btn-primary btn-sm" type="button" (click)="decrement(i)">
                  <span class="material-symbols-outlined" style="font-size: 15px;">
                    arrow_back_ios
                  </span>
                </button>
              </div>

              <div class="col">
                <form [formGroup]="getFormGroup(i)">
                  <input class="form-control" type="number" formControlName="quantity" readonly>
                </form>
              </div>

              <div class="col text-center">
                <button class="btn btn-primary btn-sm" type="button" (click)="increment(i)">
                  <span class="material-symbols-outlined" style="font-size: 15px;">
                    arrow_forward_ios
                    </span>
                </button>
              </div>

          </div>
        </div>

        <div class="card-footer text-center">
          <div class="d-grid gap-2">
            <button class="btn btn-primary btn-sm" type="button" (click)="addItem(i)">
              Agregar al carrito
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
