.icon-badge-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.badge-round {
  position: absolute;
  /* top: -5px; */
  bottom: 1px;
  right: -15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
}
