<nav class="navbar sticky-top navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <div class="ms-3" style="cursor: pointer;" (click)="goToHome()">
        <img src="./assets/images/icons/totoro.png" alt="" width="30" height="24">
        Ferremas
      </div>
    </a>

    <div *ngIf="cart" class="icon-badge-container me-3" (click)="goCart()">
      <span class="material-symbols-outlined">
        shopping_cart
      </span>
      <span class="badge-round">{{ shoppingCartCount }}</span>
    </div>

  </div>
</nav>
