
<app-header [cart]="false"></app-header>

<div class="container">
  <h3 class="text-center mt-5 mb-5">Mantenedor de Productos</h3>
</div>

<div class="container">

  <button class="btn btn-dark btn-sm mb-5" (click)="goBack()">Volver</button>

  <form [formGroup]="form">
    <div class="mb-3">
      <label for="codproduct" class="form-label">Código Producto</label>
      <input type="text" formControlName="codigo_producto" class="form-control" id="codproduct">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" formControlName="nombre" class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="marca" class="form-label">Marca</label>
      <input type="text" formControlName="marca" class="form-control" id="marca">
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" formControlName="stock" class="form-control" id="stock">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" formControlName="precio" class="form-control" id="price">
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitForm()" [disabled]="form.invalid">Crear +</button>
  </form>

</div>
