
<app-header></app-header>

<div class="container">
  <h3 class="text-center mt-5 mb-5">Carrito de Compras</h3>
</div>

<div class="container">

  <button class="btn btn-success btn-sm" (click)="goToHome()">Seguir comprando</button>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col" class="text-center">Cantidad</th>
          <th scope="col" class="text-center">Precio/Unitario</th>
          <th scope="col" class="text-center">Total</th>
          <th scope="col">Opción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cartProduct">
          <td>{{ product.item.nombre }} - {{ product.item.marca }}</td>
          <td class="text-center">{{ product.quantity }}</td>
          <td class="text-center">${{ product.item.precio | moneyFormat }}</td>
          <td class="text-center">${{ (product.quantity * product.item.precio) | moneyFormat }}</td>
          <td class="text-center">
            <span class="material-symbols-outlined" style="color: red; cursor: pointer;" (click)="deleteProduct(product.item.codigo)">
              delete
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="float-end">
    <h5>Total: ${{ totalCart | moneyFormat }}</h5>
  </div>

  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-dark mx-auto" [disabled]="!this.cartProduct.length" (click)="redireccionarAPago()">
        Ir a pagar
      </button>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <img src="./assets/images/1.WebpayPlus_FB_300px.png" alt="" class="mx-auto">
    </div>
  </div>

</div>


