
<app-header></app-header>

<div class="container">
  <h3 class="text-center mt-5 mb-5">Transacción {{ resultTransaction ? 'Éxitosa :)' : 'Rechazada :(' }}</h3>
</div>

<div class="container">

  <ng-container *ngIf="resultTransaction; else withError">
    <div class="alert alert-success" role="alert">
      Sus productos serán enviados a la brevedad!!
    </div>
  </ng-container>

  <ng-template #withError>
    <div class="alert alert-danger" role="alert">
      Tuvimos problemas para confirmar su pago.
    </div>
  </ng-template>

</div>
