<div class="limiter">
  <div class="container-login100" style="background-image: url('./assets/images/bg-01.jpg');">
    <div class="wrap-login100 p-t-30 p-b-50">
      <span class="login100-form-title p-b-41">
        FERRAMAS
      </span>
      <span class="login100-form-title p-b-41">
        Ingresa las credenciales
      </span>
      <form class="login100-form validate-form p-b-33 p-t-5">

        <div [ngClass]="{ 'alert-validate': errorUser }" class="wrap-input100 validate-input" data-validate = "Ingresa Usuario">
          <input class="input100" type="text" [(ngModel)]="username" name="username" placeholder="Usuario">
          <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>

        <div [ngClass]="{ 'alert-validate': errorPassword }" class="wrap-input100 validate-input" data-validate = "Ingresa Clave">
          <input class="input100" type="password" [(ngModel)]="pass" name="pass" placeholder="Clave">
          <span class="focus-input100" data-placeholder="&#xe80f;"></span>
        </div>

        <p *ngIf="errorLogin" class="text-center" style="color: red;">
          Credenciales Incorrectas
        </p>

        <div class="container-login100-form-btn m-t-32">
          <button [ngClass]="{ 'test': loading }" class="login100-form-btn" (click)="login()" [disabled]="loading || username.length < 7 || pass.length < 4">
            <ng-container *ngIf="loading; else otro">
              Cargando...
            </ng-container>

            <ng-template #otro>
              Ingresar
            </ng-template>

            <i *ngIf="loading" class="fa-spin fa fa-spinner ml-2"></i>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
