
<app-header [cart]="false"></app-header>

<div class="container">
  <h3 class="text-center mt-5 mb-5">Mantenedor de Productos</h3>
</div>

<div class="container mt-5">

  <div class="mb-3">
    <button class="btn btn-success" (click)="formProduct('create')">
      Crear Producto +
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Stock</th>
          <th scope="col">Último Precio</th>
          <th scope="col">Fecha último precio</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td scope="row">{{ product.codigo }}</td>
          <td>{{ product.nombre }}</td>
          <td>{{ product.marca }}</td>
          <td>{{ product.stock | moneyFormat }}</td>
          <td class="text-center">${{ product.precio | moneyFormat }} </td>
          <td class="text-center">{{ product.fecha }} </td>
          <td class="text-center">
            <span class="material-symbols-outlined" style="color: blue;">
              edit
            </span>
          </td>
          <td class="text-center">
            <span class="material-symbols-outlined" style="color: red;">
              cancel
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>

